/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.lsp/
*.swp
.clj-kondo/
/out
/.repl
*.log
/.env
/.sass-cache
/node_modules
.rebel_readline_history
/mm/peano.mm
/mm/set.mm
/sample.html
/state.edn
