div.theorem {
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin: 10px;
}
span.title {
    font-weight:bold;
}
span.theorem { color: orange; }
span.axiom { color: red; }
span.definition { color: blue; }
span.declaration { color: blue; }

